## **Project Title: A Visual Exploration of the Relationship Between Trade Tariffs and Germany's Economic Growth from 1988 to 2021**

> Author: Abdullah Akintobi  
> Date: September 19, 2025

### **Problem Statement**

This project conducts an exploratory data analysis of Germany's trade and economic performance from 1988 to 2021 to evaluate the influence of tariff policy changes on key economic indicators.

The central problem is to determine the correlation between Germany's tariff rate fluctuations and its economic growth and trade volumes over the 34-year period.

The analysis will address this problem by answering the following specific research questions:

- **Correlation with Economic Growth:** What is the statistical correlation between changes in Germany's tariff rates (both `AHS Simple Average (%)` and `MFN Simple Average (%)`) and its `Country Growth (%)`?

- **Impact on Trade Volume:** How do changes in tariff policies correspond with fluctuations in Germany's total trade volumes, as measured by `Export (US$ Thousand)` and `Import (US$ Thousand)`?

- **Historical Analysis:** Can distinct periods be identified where a shift in trade policy appears to have a measurable impact on Germany's economic trajectory?

The insights gained will provide empirical evidence of the intricate relationship between a nation's trade policy and economic health, serving as a comprehensive case study.

### **Import Dependencies**

In [13]:
# Import necessary libraries
import numpy as np
import pandas as pd

# Set display options to show all columns
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

### **Data Loading and Initial Observations**

In this section, we will:

- Load and preview the raw dataset.

- Select the features to be used for the analysis.

In [14]:
# Load the raw dataset
df_raw = pd.read_csv("../data/raw/34_years_world_export_import_dataset.csv")

# Preview the data
df_raw.head()

,Partner Name,Year,Export (US$ Thousand),Import (US$ Thousand),Export Product Share (%),Import Product Share (%),Revealed comparative advantage,World Growth (%),Country Growth (%),AHS Simple Average (%),AHS Weighted Average (%),AHS Total Tariff Lines,AHS Dutiable Tariff Lines Share (%),AHS Duty Free Tariff Lines Share (%),AHS Specific Tariff Lines Share (%),AHS AVE Tariff Lines Share (%),AHS MaxRate (%),AHS MinRate (%),AHS SpecificDuty Imports (US$ Thousand),AHS Dutiable Imports (US$ Thousand),AHS Duty Free Imports (US$ Thousand),MFN Simple Average (%),MFN Weighted Average (%),MFN Total Tariff Lines,MFN Dutiable Tariff Lines Share (%),MFN Duty Free Tariff Lines Share (%),MFN Specific Tariff Lines Share (%),MFN AVE Tariff Lines Share (%),MFN MaxRate (%),MFN MinRate (%),MFN SpecificDuty Imports (US$ Thousand),MFN Dutiable Imports (US$ Thousand),MFN Duty Free Imports (US$ Thousand)
0,Aruba,1988,3498.10,328.49,100.0,100,NaN,NaN,NaN,2.80,2.92,155.0,18.06,60.00,20.00,1.94,50.0,0.0,1867.00,2346.37,781.65,13.59,8.46,1152.0,63.54,22.74,70.32,31.61,352.69,0.0,2186.00,3128.02,0.0
1,Afghanistan,1988,213030.40,54459.52,100.0,100,NaN,NaN,NaN,0.88,1.83,548.0,8.76,82.66,8.03,0.55,35.0,0.0,30863.03,70204.13,23987.37,17.68,12.43,4142.0,69.41,15.64,72.45,40.51,2029.66,0.0,78436.91,94191.50,0.0
2,Angola,1988,375527.89,370702.76,100.0,100,NaN,NaN,NaN,2.02,3.89,633.0,25.43,69.19,5.37,0.00,40.0,0.0,723819.51,754183.84,167297.68,12.70,6.14,5438.0,76.00,16.27,41.55,24.80,451.15,0.0,727741.99,921481.52,0.0
3,Anguila,1988,366.98,4.00,100.0,100,NaN,NaN,NaN,3.71,1.09,33.0,6.06,72.73,21.21,0.00,35.0,0.0,60.00,65.00,518.00,16.63,14.75,322.0,66.15,22.05,78.79,36.36,100.00,0.0,94.00,583.00,0.0
4,Albania,1988,30103.56,47709.30,100.0,100,NaN,NaN,NaN,1.84,2.38,744.0,20.83,60.48,17.61,1.08,25.0,0.0,18806.15,62294.53,38901.42,19.20,9.68,5684.0,66.87,19.19,57.93,48.52,3000.00,0.0,37904.09,101195.95,0.0

In [15]:
# Check the shape of the dataset
df_raw.shape

(8096, 33)

In [16]:
# Get unique values in Partner Name column and sort them alphabetically
unique_partners = sorted(df_raw["Partner Name"].unique())
print(unique_partners)

[' World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguila', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Br. Antr. Terr', 'Brazil', 'British Indian Ocean Ter.', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Bunkers', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Czechoslovakia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Asia & Pacific', 'East Timor', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia(excludes Eritrea)', 'Ethiopia(includes Eritrea)', 'Europe & Central Asia', 'Faeroe Islands', 'Falkland Island', 'Fiji', 'Finland', 'Fm Sudan', 'Fr. So. Ant. Tr', 'France', 'Free Zones', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'German Democratic Republic', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Isla', 'Holy See', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latin America & Caribbean', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Fed. Sts.', 'Middle East & North Africa', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'Neutral Zone', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North America', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Occ.Pal.Terr', 'Oman', 'Other Asia, nes', 'Pacific Islands', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar', 'Reunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena', 'Saint Maarten (Dutch part)', 'Saint Pierre and Miquelon', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia, FR(Serbia/Montenegro)', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Asia', 'South Georgia and the South Sa', 'South Sudan', 'Soviet Union', 'Spain', 'Special Categories', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Isl.', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying I', 'Unspecified', 'Uruguay', 'Us Msc.Pac.I', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futura Isl.', 'Western Sahara', 'Yemen', 'Yemen Democratic', 'Yugoslavia,FR(Serbia/Montenegr', 'Zambia', 'Zimbabwe']

In [17]:
# Print partners that start with 'Ger'
for partner in unique_partners:
    if partner.startswith("Ger"):
        print(partner)

German Democratic Republic
Germany

In [18]:
# Check the years for 'German Democratic Republic'
df_raw[df_raw["Partner Name"] == "German Democratic Republic"]["Year"].unique()

array([1988, 1989, 1990])

**Observations:**

The dataset contains records for both the **[German Democratic Republic](https://en.wikipedia.org/wiki/East_Germany)** (from 1988 to 1990) and **Germany** (from 1988 to 2021). We will combine the records for both countries from 1988 to 1990 into a single unified record for Germany. This is crucial for our analysis because it accurately reflects the political and economic reality of **Germany's reunification in 1990**. Merging these records allows for a **continuous time-series analysis** over the entire 1988-2021 period, preventing a misleading split in the data and providing a more historically representative view of the country's economic trends.

We also observed that the dataset contains 8,096 rows and 33 columns. For the purpose of this project, we will focus on a subset of the data that is essential for our analysis.

Below are the seven key features we will use:

  - **`Partner Name`**: This column will be used to filter the data specifically for 'Germany'.

  - **`Year`**: This time-series variable is essential for plotting data over the 1988-2021 period.

  - **`Country Growth (%)`**: The primary variable for measuring Germany's economic growth.

  - **`AHS Simple Average (%)`**: One of two key tariff variables, representing the "Applied Harmonized System" tariff rate.

  - **`MFN Simple Average (%)`**: The second key tariff variable, representing the "Most Favored Nation" tariff rate.

  - **`Export (US$ Thousand)`**: Used to analyze the volume of trade over time.

  - **`Import (US$ Thousand)`**: Also used to analyze the volume of trade over time.

You can click [here](../data/meta/data_dictionary.csv) to see the full description of each column in the dataset. In the next section we will preprocess the data by perfoming feature selection, removing unwanted records, and merging the record for Germany and German Democratic Republic.

### **Data Preprocessing**

In this section, we will:

- Drop the columns that are not necessary for our analysis.

- Remove the records where Partner Name is not German Democratic Republic or Germany.

- Merge the German Democratic Republic and Germany records as Germany from the years 1988 to 1990.

In [19]:
# Define the columns (features) required for the analysis
FEATURES_TO_KEEP = [
    "Partner Name",
    "Year",
    "Country Growth (%)",
    "AHS Simple Average (%)",
    "MFN Simple Average (%)",
    "Export (US$ Thousand)",
    "Import (US$ Thousand)",
]

# Drop columns that are not necessary for the analysis
df_filtered = df_raw[FEATURES_TO_KEEP]

# Define the countries of interest
countries_of_interest = ["Germany", "German Democratic Republic"]

# Filter the DataFrame to include only records for the countries of interest
df_germany_gdr = df_filtered[
    df_filtered["Partner Name"].isin(countries_of_interest)
].copy()

# Preview the cleaned and filtered DataFrame
df_germany_gdr.head(10)

,Partner Name,Year,Country Growth (%),AHS Simple Average (%),MFN Simple Average (%),Export (US$ Thousand),Import (US$ Thousand)
47,German Democratic Republic,1988,NaN,7.12,14.39,1.457269e+06,2.119792e+06
48,Germany,1988,NaN,10.87,14.06,3.493684e+07,4.149730e+07
254,German Democratic Republic,1989,NaN,9.08,23.22,2.219954e+06,2.777570e+06
255,Germany,1989,3.78,14.66,23.62,5.600603e+07,7.462543e+07
464,German Democratic Republic,1990,NaN,38.61,20.13,2.292162e+06,2.934573e+06
465,Germany,1990,12.71,14.32,21.52,7.157536e+07,9.402324e+07
677,Germany,1991,6.56,14.67,15.62,1.033760e+08,1.216899e+08
892,Germany,1992,2.46,14.58,15.84,1.664047e+08,1.904864e+08
1124,Germany,1993,-8.40,12.30,16.10,1.903617e+08,2.096702e+08
1358,Germany,1994,5.54,15.87,18.65,3.157453e+08,3.487525e+08

In [20]:
# Define the years for merging
YEARS_TO_MERGE = [1988, 1989, 1990]

# Split data: merge years vs keep others
df_merge = df_germany_gdr[df_germany_gdr["Year"].isin(YEARS_TO_MERGE)].copy()
df_remaining = df_germany_gdr[~df_germany_gdr["Year"].isin(YEARS_TO_MERGE)].copy()

# Aggregate numeric data for merge years
df_aggregated = df_merge.groupby("Year", as_index=False).sum(numeric_only=True)

# Fix incorrect 1988 growth value (was summed as 0)
mask_1988 = (df_aggregated["Year"] == 1988) & (df_aggregated["Country Growth (%)"] == 0)
df_aggregated.loc[mask_1988, "Country Growth (%)"] = np.nan

# Assign unified partner name and keep required features
df_aggregated["Partner Name"] = "Germany"
df_aggregated = df_aggregated[FEATURES_TO_KEEP]

# Combine merged and remaining data
df_final = (
    pd.concat([df_aggregated, df_remaining])
    .sort_values(by="Year")
    .reset_index(drop=True)
)

# Preview final dataset
df_final.head()

,Partner Name,Year,Country Growth (%),AHS Simple Average (%),MFN Simple Average (%),Export (US$ Thousand),Import (US$ Thousand)
0,Germany,1988,NaN,17.99,28.45,3.639411e+07,4.361709e+07
1,Germany,1989,3.78,23.74,46.84,5.822599e+07,7.740300e+07
2,Germany,1990,12.71,52.93,41.65,7.386752e+07,9.695782e+07
3,Germany,1991,6.56,14.67,15.62,1.033760e+08,1.216899e+08
4,Germany,1992,2.46,14.58,15.84,1.664047e+08,1.904864e+08

In [21]:
# Check data information
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Partner Name            34 non-null     object
 1   Year                    34 non-null     int64
 2   Country Growth (%)      33 non-null     float64
 3   AHS Simple Average (%)  34 non-null     float64
 4   MFN Simple Average (%)  34 non-null     float64
 5   Export (US$ Thousand)   34 non-null     float64
 6   Import (US$ Thousand)   34 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.0+ KB

In [22]:
# Check for duplicates in the processed data
print(f"Number of duplicate records: {df_final.duplicated().sum()}")

Number of duplicate records: 0

In [23]:
# Count the number of null (missing) values in each column
df_final.isnull().sum()

Partner Name              0
Year                      0
Country Growth (%)        1
AHS Simple Average (%)    0
MFN Simple Average (%)    0
Export (US$ Thousand)     0
Import (US$ Thousand)     0
dtype: int64

In [24]:
# Save the processed data
df_final.to_csv("../data/processed/germany_trade_data.csv", index=False)

**Observations**

After merging the records for the **German Democratic Republic** and **Germany** for the years 1988, 1989, and 1990, we observed that the `Country Growth (%)` record for the year 1988 is missing in the merged data. This is because the `Country Growth (%)` was missing for both the German Democratic Republic and Germany in the year 1988, resulting in a single null value in the `Country Growth (%)` column of our new DataFrame. It was also observed that the new DataFrame contains no duplicate records, and the column datatypes are correct.

We will **not** be removing this null value because dropping a record in a time-series dataset can introduce a break in the data and a potential bias in the analysis. Leaving the missing value as `NaN` (Not a Number) is the most accurate way to represent the fact that the data is truly unavailable for that specific time point. Most data analysis and visualization tools are designed to handle these missing values successfully.

We have also saved our processed data to the appropriate directory. In the next section, we will load our [processed data](../data/processed/germany_trade_data.csv) and begin our exploratory data analysis and visualization.